body { padding: 0; margin: 0 }
/* #unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 75%; transform: translate(-50%, -50%) } */
/* #unity-container.unity-mobile { position: fixed; width: 100%; height: 100% } */
#unity-canvas { background: #000000 }

#unity-loading-bar {
    width: 100%;
    height: 100%;
    background: black;
    z-index: 999;

    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);

}
#unity-logo {
    width: 154px;
    height: 130px;
    background: url('unity-logo-dark.png') no-repeat center
}
#unity-progress-bar-empty {
    width: 141px;
    height: 18px;
    margin-top: 10px;
    margin-left: 6.5px;
    background: url('progress-bar-empty-dark.png') no-repeat center
}
#unity-progress-bar-full {
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center
 }
#unity-footer {
    position: relative
}
.unity-mobile #unity-footer {  }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button {
    cursor:pointer;
    float: right;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center
}
.unity-mobile #unity-footer #unity-fullscreen-button {
    margin-top: 10px;
    cursor: pointer;
    float: right;
    width: 30px;
    height: 30px;
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none }
.container-game{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 200px) and (orientation: portrait) {
    .container-game{
        margin-top: 100px;
    }
}
.banner-parallax {
    background-image: url('banner-2080x828.png'); /* Ruta de tu imagen de fondo */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 24px;

}
@media only screen and (min-width: 1024px) {
    .banner-parallax {
        height: 100vh;
    }
}
@media screen and (min-width: 200px) and (orientation: portrait) {
    .banner-parallax {
        height: 100vh;
    }
}
@media screen and (max-width: 780px) and (orientation: landscape) {
    .banner-parallax {
        height: none;
    }
}
.parallax-content{
    background-color: #864efa8c;
    padding: 20px;
    border-radius: 10px;

}
@media only screen and (min-width: 1024px) {
    .parallax-content{
        background-color: #864efa8c;
        padding: 20px;
        /* padding-top: 200px; */
        border-radius: 10px;
    }
}
#unity-canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.canvas-container {
    width: 100%;
}
#unity-webgl-logo {
    float:left;
    margin-left: 30px;
    width: 100px;
    height: 60px;
    background: url('webgl-logo.png') no-repeat center
}
#unity-unity-logo {
    float:left;
    margin-left: 30px;
    width: 100px;
    height: 60px;
    background: url('unity.png') no-repeat center
}
#unity-apg-logo {
    float:left;
    margin-left: 30px;
    width: 110px;
    height: 60px;
    background: url('apglogo.png') no-repeat center
}
#unity-catarsis-logo {
    float:left;
    margin-left: 30px;
    width: 110px;
    height: 60px;
    background: url('catarsis2.png') no-repeat center
}
/* Estilo base del botón */
.button {
    margin-top: 100px;
    background-color: #673ab7; /* Color morado oscuro */
    color: #fff; /* Color de texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }

  /* Efecto al pasar el ratón sobre el botón */
  .button:hover {
    background-color: #512da8; /* Cambia el color al pasar el ratón */
  }

  /* Efecto de sombra al hacer clic en el botón */
  .button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }

  /* Estilo del texto dentro del botón */
  .button span {
    font-weight: bold; /* Texto en negrita */
  }

  /* Otros estilos opcionales */
  .button.outline {
    background-color: transparent; /* Botón transparente */
    border: 2px solid #673ab7; /* Borde sólido morado oscuro */
    color: #673ab7; /* Color de texto morado oscuro */
  }

  .button.round {
    border-radius: 50px; /* Botón redondo */
  }

  /* Estilo para un botón pequeño */
  .button.small {
    padding: 5px 10px; /* Espaciado interno más pequeño */
  }
  .logoContainer{
    width: inherit;

  }
